NEXT_PUBLIC_SUPABASE_URL=https://enyzgtxjrexgvnwblqug.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVueXpndHhqcmV4Z3Zud2JscXVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg5NjE3NzQsImV4cCI6MjA2NDUzNzc3NH0.zeqlM1BUWse89yxNRyLQaq1uRZVlMxwjntkkO7CIdR8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVueXpndHhqcmV4Z3Zud2JscXVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODk2MTc3NCwiZXhwIjoyMDY0NTM3Nzc0fQ.zeqlM1BUWse89yxNRyLQaq1uRZVlMxwjntkkO7CIdR8
NEXTAUTH_SECRET=supersecretkey123456789012345678
NEXTAUTH_URL=https://saftiee-vip-app.vercel.app
ADMIN_EMAIL=admin@saftiee.dz
ADMIN_PASSWORD_HASH=$2b$12$placeholder
